html,body {
  height: 100%;
  font-family: 'Open Sans',sans-serif;
}

/*
==navbar
*/

nav {
  background-color:#898b93;
  position: fixed;
  width: 100%;
}

.icon{
  /*color:#1d9eb3;*/
  color: lightgreen;
}

.navbar-header {
  text-decoration: none;
  font-family: 'Open Sans',sans-serif;
  font-size: 25px;
  color: whitesmoke;
  font-weight: 700;
  float: left;
  padding-left: 103px;
  padding-top: 30px;
}

 nav li:hover{
/*color: #1d9eb3;*/
color: black;

}


ul li{
  display: inline-block;
  padding: 35px 20px;
  color: whitesmoke;
  font-weight: 600;
}

/*
==endofnavbar
*/

ul {
  float: right;
  padding-right: 60px;
}

/*
== Hero Unit
*/
.hero-unit {
  height: 100%;
  width: 100%;
  background: url('../images/bg.jpg');
  background-size: cover;
 /*background-attachment: fixed;*/
}

.hero-unit-caption {
  position: absolute;
  left: 8%;
  top: 45%;
}

.skyblue {
  color: #1d9eb3;
}

.hero-unit-caption .headline {
  font-weight: 900;
  font-size: 50px;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.hero-unit-caption .subhead {
  font-weight: 600;
  font-size: 18px;
  color: whitesmoke;
  letter-spacing:  2.2px;
  text-transform: uppercase;
  padding-top: 15px;
}

/*
==End Hero Unit
*/
footer{
  height: 10%;
  width: 100%;
  background-color: grey;
}
.links{
  font-size: 35px;
  padding-top: 10px;
}
footer .text{
padding-top: 20px;
  width: 30%;
  font-size: 20px;
  font-weight: 300;

}
